@import '../Common/base.less';
@import './robot.less';
@import './table.less';
@import './inputFile.less';

.page-wrapper {
	display: flex;
    justify-content: center;
    margin: 5vh 0vh;
    .instructions {
        background: #e6e6e6;
        padding: 20px;
        border: 1px solid #ededed;
        width: 30vw;
        height: 90vh;
        overflow: scroll;
    	.form-element {
    	    margin: 10px 0px;
    	    text-align: right;
    	    label {
    	        margin-right: 10px;
    	        font-size: 15px;
    	        color: #848484;
    	        font-weight: bold;
    	        text-shadow: 0px 1px 1px #e4e4e4;
    	        display: inline-block;
    	        width: 100%;
    	    }
    	}
    	.input-file {
    		height: 40vh;
    	}

    	.output-file {
    		height: 5vh;
    	}

    	.main-form {
    	    padding: 5px;
    	    border-top: 1px dashed #ccc;
    	    border-bottom: 1px dashed #ccc;
    	}

    	.button-group {
    	    display: flex;
    	    justify-content: space-between;
    	}
    }
}