/*
    This file contains styles and classes and overwrites
    for the main project it act as the entry point for 
    the main project
*/


@import (reference) '../Common/variables.less';
@import './robot.less';
@import './table.less';
@import './inputFile.less';

.page-wrapper {
	display: flex;
    justify-content: center;
    margin: 5vh 0vh;
    position: relative;
    .instructions {
        background: @backgroundGrey;
        padding: 20px;
        border: 1px solid @lightBorderColor;
        width: 30vw;
        height: 90vh;
        overflow: scroll;
    	.form-element {
    	    margin: 10px 0px;
    	    text-align: right;
    	    label {
    	        margin-right: 10px;
    	        font-size: @mediumFontSize;
    	        color: @labelColor;
    	        font-weight: bold;
    	        text-shadow: 0px 1px 1px @textShadowColor;
    	        display: inline-block;
    	        width: 100%;
    	    }
    	}
    	.input-file {
    		height: 40vh;
    	}

    	.output-file {
    		height: 15vh;
    	}

    	.main-form {
    	    padding: 5px;
    	    border-top: 1px dashed @borderColor;
    	    border-bottom: 1px dashed @borderColor;
    	}

    	.button-group {
    	    display: flex;
    	    justify-content: space-between;
    	}
    }
}