/*
    This file contains styles and classes and overwrites of
    the custom component robot which is used only in this perticular page
*/

@import (reference) '../Common/variables.less';

.robot {
	position: absolute;
    height: 18%;
    width: 18%;
    bottom: 0;
    left: 0;
    background: url(/img/car.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateZ(90deg);
    &.face-east {
    	transform: rotateZ(180deg);
    }
    &.face-west {
    	transform: rotateZ(0deg);
    }
    &.face-south {
    	transform: rotateZ(270deg);
    }
}


